
/* bus side bar  */

.filter-label {
  font-weight: 600;
  font-size: 14px;
  color: #000;
}


/* bus Deatils list css  */


.bus-list-container {
  background-color: #f0f4fa;
  padding: 1rem;
}

.sort-header {
  background-color: #e0e0e0;
  border-radius: 6px;
  font-weight: 500;
}

.bus-card {
  border-radius: 10px;
}

.duration-box {
  background-color: #f3f3f3;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
}




.bus-card {
    border-radius: 10px;
}

.duration-box {
    background-color: #eaeaea;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
}

.price-panel {
    background-color: #e9e9eb;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

