.booking-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width:100%;
}

.booking-section {
  background-color: #f0f2f5;
  padding: 10px;
  border-radius: 6px;
  align-items:center;
  font-size: 14px;
}
