.room-card {
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.price {
  color: green;
  font-weight: bold;
  margin: 10px 0;
}

.book-now {
  background-color: #8a2be2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
