@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


.tripselector {
  display: flex;
  justify-content: flex-start;
}

.flight-tagline {
  font-size: 18px;
  font-weight: 600;
  color: #131313;
  margin: 0;
}




/* Trip type Selector css  */

/* trip tab css Oneway / Round Trip / Multi City */
.trip-type-tab-wrapper {
  display: flex;
  gap: 10px;
  background: #fff;
  border-radius: 40px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.trip-type-input {
  display: none;
}

.trip-type-tab {
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 14px;
  background-color: white;
  color: black;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.trip-type-input:checked + label.trip-type-tab {
  background-color: #cb0d26; /* Purple like in your screenshot */
  color: white;
  border-color: #cb0d26;
  box-shadow: 0 0 5px #ac2b3c;
}














/* LocationInput css             Component for 'From' and 'To' input fields */



.location-card {
  border-radius: 12px;
  padding: 15px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.location-box {
  padding: 0 12px;
  text-align: left;
}

.location-label {
  font-size: 12px;
  font-weight: 500;
  color: #2b2b2b;
  text-transform: uppercase;
}

.location-city {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.location-airport {
  font-size: 13px;
  color: #2b2b2b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.switch-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-icon {
  background: #e5d8f5;
  color: #cb0d26;
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
