@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


.tripselector {
  display: flex;
  justify-content: flex-start;
}

.flight-tagline {
  font-size: 18px;
  font-weight: 600;
  color: #131313;
  margin: 0;
}




/* tabs system */
.tab-box {
  background-color: #fff;
  color: #4c4c4c;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 4px 8px #0000001a;
  transition: all 0.3s ease;
  width: 70% !important;

}

.tab-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.tab-box.active-tab {
  background-color: #cb0d26;
  /* Purple background */
  color: #fff;
}

.tab-box.active-tab svg {
  color: #fff;
  /* White icon when active */
}

.tab-box svg {
  color: #cb0d26;
  /* Purple icon */
}




/* Trip type Selector css  */

/* trip tab css Oneway / Round Trip / Multi City */
.trip-type-tab-wrapper {
  display: flex;
  gap: 10px;
  background: #fff;
  border-radius: 40px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.trip-type-input {
  display: none;
}

.trip-type-tab {
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 14px;
  background-color: white;
  color: black;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.trip-type-input:checked+label.trip-type-tab {
  background-color: #cb0d26;
  /* Purple like in your screenshot */
  color: white;
  border-color: #cb0d26;
  box-shadow: 0 0 5px #ac2b3c;
}














/* LocationInput css             Component for 'From' and 'To' input fields */



.location-card {
  border-radius: 12px;
  padding: 15px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  background-color: #fff;

}

.location-box {
  padding: 0 12px;
  text-align: left;
}

.location-label {
  font-size: 12px;
  font-weight: 500;
  color: #2b2b2b;
  text-transform: uppercase;
}

.location-city {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.location-airport {
  font-size: 13px;
  color: #2b2b2b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.switch-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-icon {
  background: #e5d8f5;
  color: #cb0d26;
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}












/* Date picker css  */

/* Calendar css  */

.custom-date-picker .date-button-wrapper {
  border: 1px solid #ccc;
  /* border-radius: 1px; */
  padding: 15px 10px;
  min-width: 140px;
  cursor: pointer;
  user-select: none;
  transition: border 0.2s;
}

.Depart {
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Return {
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-date-picker .date-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.custom-date-picker .label {
  font-size: 12px;
  font-weight: 600;
  color: #2b2b2b;
}

.custom-date-picker .date {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.custom-date-picker .day {
  font-size: 13px;
  color: #2b2b2b;
}

.custom-date-picker .calendar-popup {
  z-index: 1000;
}














/* FareTypeSelector */



.fare-type-container .form-check-input:checked {
  background-color: #cb0d26;
  border-color: #cb0d26;
}

.fare-type-container .form-check-label {
  font-weight: 500;
  color: #333;
}



/* PassengerClass css  */


.passenger-class-box {
  width: 280px;
  /* Adjust based on your layout */
  text-align: left;
  padding: 0;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.passenger-label {
  font-size: 12px;
  font-weight: 500;
  color: #2b2b2b;
  text-transform: uppercase;
}

.cabin-text {
  font-size: 13px;
  color: #2b2b2b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* Search button css 

*/
.Mybutton {
  background-color: #cb0d26;
  color: white;
  border-radius: 18px;
  padding: 38px 28px;
  font-weight: bold;
  box-shadow: 6px 6px 10px rgba(37, 37, 37, 0.1);
  border: none;
}