


.Header_logo{
    width: 5rem;
    height: auto;
    margin: 0 0 0 2rem;
}


.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent !important;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.nav-item-link {
  font-size: 14px;
  font-weight: 400 !important;
  padding: 8px 20px !important;
  font-family: 'Roboto', sans-serif;
  color: #fff !important;
  transition: all 0.3s ease;
  position: relative;
  text-transform: capitalize;
}
