.app {
  display: flex;
  padding: 1rem;
  background: #f7f9fc;
}
.left-panel {
  width: 25%;
  padding-right: 1rem;
}
.right-panel {
  width: 95%;
}


.App {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

.hotel-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.hotel-left {
  flex: 2;
}
.hotel-right {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}
